.DetailsForm1 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(163, 102, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(71, 41, 0));
}

.DetailsForm1Center {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  padding: 0 100px 0 100px;
}

.form-step > h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0 0 25px 0;
  padding: 0;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
}

.form-step > h3 > strong {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: 500;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
}

.form-group > input {
  padding: 16px;
  width: 100%;
  outline: none;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0;
  color: white;
}

.form-group > label {
  font-weight: 400;
  margin-bottom: 3px;
  color: #ccc;
  display: inline-block;
}

.review_block ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}

.review_block ul li {
  display: block;
  margin: 0 0 10px 0;
}

.checkbox_radio_container {
  margin-bottom: 10px;
  position: relative;
  padding: 12px;
  width: 100%;
  outline: 0;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 3px;
  border: 1px solid none;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.checkbox_radio_container:hover {
  cursor: pointer;
  background-color: rgb(54, 54, 156);
}

input {
  color: #000;
  background-color: #fff;
}

input[type="radio"] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

.required {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  left: 10px;
  top: 8px;
  cursor: pointer;
}

.checkbox_radio_container > .wrapper {
  margin-left: 40px;
}

.terms {
  margin-top: 20px;
  color: #ccc;
}

.terms > input {
  margin-right: 5px;
}

.container_check > a {
  color: #ccc;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.container_check > a:hover {
  color: blue;
}

.container_check {
  margin-left: 5px;
}

/* .checkbox_radio_container .wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  left: 0px;
  top: -10px;
  display: block;
  width: 100%;
  padding: 10px 10px 10px 44px;
  font-weight: 500;
  cursor: pointer;
} */

.btn {
  padding: 10px 30px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  margin-left: 10px;
}

.next-btn {
  background-color: rgb(206, 206, 0);
  float: right;
  cursor: pointer;
  transition: all 0.3s linear;
}

.next-btn:hover {
  background-color: white;
}

.prev-btn {
  background-color: rgb(167, 167, 167);
  float: right;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prev-btn:hover {
  background-color: white;
}

.dropdown-button {
  float: left;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .DetailsForm1Center {
    grid-template-columns: auto;
  }
}

.terms {
  display: flex;
  align-items: center;
}

.select-dropdown {
  z-index: 30;
}

.checkmark {
  height: 20px;
  width: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
