.deznav {
  width: 21.563rem;
  padding-bottom: 0;
  /* height: auto; */
  /* 279% */

  position: absolute;
  top: 0;
  padding-top: 120px;
  z-index: 4;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(120, 130, 140, 0.13);
  transition: all 0.2s ease;
}

.deznav-scroll {
  position: relative;
  height: auto;
}

.ai-icon {
  display: flex;
  width: auto;
  height: 4rem;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.active{
  background: rgba(11, 42, 151, 0.1);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-right-style: solid;
  border-color: #0b2a97;
}

.nav-text {
  font-weight: 500;
  justify-content: center;
  text-align: center;
  font-size: 1.05rem;
  cursor: pointer;
}

.doc-items {
  text-align: right;
  margin-right: 1.5rem;
}

.deznav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.metismenu {
  display: flex;
  flex-direction: column;
  /* padding-top: 15px; */
}

.deznav .metismenu > li {
  display: flex;
  flex-direction: column;
}

.deznav .metismenu > li a > i {
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0;
  height: auto;
  width: auto;
  border-radius: 1.25rem;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 15px;
  background-color: #0b2a97;
}

.deznav .metismenu > li a > i {
  display: block;
  padding: 0;
}

.menu-toggle .deznav .nav-text {
  display: none;
}

.deznav .metismenu > li > a {
  font-weight: 500;
  display: inline-block;
  font-size: 15px;
}

.deznav .metismenu > li > a svg {
  max-width: 24px;
  /* max-height: 24px; */
  height: 100%;
  margin-right: 0.5rem;
  /* margin-top: 0.5rem; */
  color: #0b2a97;
}

.deznav .metismenu > li > a g [fill] {
  fill: #0b2a97;
}
.deznav .metismenu > li:hover > a,
.deznav .metismenu > li:focus > a {
  color: #0b2a97;
}
.deznav .metismenu > li:hover > a g [fill],
.deznav .metismenu > li:focus > a g [fill] {
  fill: #0b2a97;
}
.deznav .metismenu > li.mm-active > a {
  color: #0b2a97;
}
.deznav .metismenu > li.mm-active > a g [fill] {
  fill: #0b2a97;
}
.deznav .metismenu li {
  position: relative;
}

/* .deznav .metismenu ul {
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1;
  padding: 5px 0;
} */

/* .deznav .metismenu ul a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  font-size: 16px;
  padding-left: 3.9rem;
} */

.deznav .metismenu ul a:hover,
.deznav .metismenu ul a:focus,
.deznav .metismenu ul a.mm-active {
  text-decoration: none;
  color: #0b2a97;
}


.deznav .metismenu a {
  position: relative;
  display: block;
  padding: 0.625rem 1.875rem;
  outline-width: 0;
  color: #7e7e7e;
  text-decoration: none;
}

/* .deznav .metismenu .has-arrow:after {
  width: 0.5rem;
  height: 0.5rem;
  right: 1.875rem;
  top: 48%;
  border-color: inherit;
  -webkit-transform: rotate(-225deg) translateY(-50%);
  transform: rotate(-225deg) translateY(-50%);
} */

/* .deznav .metismenu .has-arrow[aria-expanded="true"]:after,
.deznav .metismenu .mm-active > .has-arrow:after {
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
} */

.add-menu-sidebar {
  background: #0b2a97;
  padding: 20px 18px;
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  position: relative;
  margin: 50px 50px;
}

.add-menu-sidebar p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 1rem;
}

/* .font-w500 mb-0 {
  margin-left: 2px;
} */

.copyright {
  font-size: 14px;
  padding: 0 45px 60px;
  margin-top: 40px;
  color: #969ba0;
  margin-bottom: 40px;
}
.copyright p {
  margin-bottom: 10px;
  text-align: center;
}
.copyright strong {
  display: block;
}
  
.options_display {
  transform: all 0.3s linear;
}

.add-select {
  background: rgba(11, 42, 151, 0.1);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-right-style: solid;
  border-right-width: 5px;
  border-color: #0b2a97;
}

.menu-item {
  padding: 0 0 0 2.5rem;
}
